body{
    font-family: 'Roboto', sans-serif;

}
header{
    background-color:#f13b04e3;
height: 50px;
}

h1{
    text-align: center;
    padding-top: 20px;
}
table{
    border-style: solid;
    border: solid;
}
th{
    margin: 5%;
    border-style: solid;
    border: solid;

}
td{
    margin: 5%;
    border-style: solid;
    border: solid;

}


#submit{
    background-color: #f13b04e3;
    color: white;

}

.dataform{
    padding-left: 50px;
    padding-top: 25px;
}

#q1,#q2{
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic-webfont.eot');
    src: url('Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic-webfont.woff') format('woff'),
         url('Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');

         font-size: x-large;
        }

#orderForm{
    padding: 25px;
}

#buttondiv{
    margin-left: 20%;

}
